table img{
    max-width: 100%;
    height: 100px;
}
.home-page{
  margin: auto 5%; ;
}
.form-inline{
  display:flex;
  flex-direction: row;
  gap: 10px;

<<<<<<< HEAD
}
.pagination a{
  text-decoration: none;
  color: black;
}

.pagination{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 5rem;
  font-size: 1rem;
   gap: 10px;
}
.pagination .page-num{
  padding: 0.5rem 1rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  cursor: pointer;
  font-weight: 400;
}
.pagination .page-num:hover{
  background-color: yellow;
  color: black;
}
.pagination .page-num.active{
  background-color: #5AB1BB;
}
                                                                      
=======
}
>>>>>>> 47a460139db0498be73235930a86a1d3e707e2fe
